@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: HanaLight;
  src: url('/fonts/Hana2-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: HanaRegular;
  src: url('/fonts/Hana2-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: HanaMedium;
  src: url('/fonts/Hana2-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: HanaBold;
  src: url('/fonts/Hana2-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

.one-item .slick-list {
  width: 390px;
}

.custom-slider .slick-slide > div {
  padding: 0 5px;
}

.custom-slider .slick-list {
  padding: 0 10px;
}

/* slick-slide 내부에 패딩을 추가하여 간격을 줍니다 */
.custom-slider2 .slick-slide > div {
  padding: 0 20px;
}
